/* universal rules */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  line-height: 1.75rem;
  letter-spacing: .017rem;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: black;
}

.link {
  color: #dea743;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* start header */

header {
  /* put gojira art as bckgrnd here */
  background-color: #27100a;
  color: #dea743;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

header p {
  font-weight: 100;
  font-size: small;
  color: #86bfbd;
}

/* start nav */

nav {
  background-color: #445864;
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: center;
}

nav li a {
  color: #dea743;
  padding: 0.5rem 1.5rem;
  display: block;
  text-decoration: none;
}

nav li a:hover {
  background-color: #efb854;
  color: #556975;
}


.active {
  background-color: #334753;
}

.active:hover {
  color: #dea743;
  background-color: #334753;
}

/* start main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #27100a;
  /* gojira art goes here */
  background: url(images/gojira-background.jpeg) no-repeat center center fixed;
  background-size: cover;
  color: #dea743;
  padding: 1rem;
}

.bandimg {
  width: 30%;
  margin: 0 0 0 2%;
  float: right;
  min-width: 150px;
  max-width: 300px;
}

.bandimg img {
  width: 100%;
  height: auto;
}

.bandimg figcaption {
  text-align: center;
  font-size: x-small;
  width: 100%;
  color: #dea743;
  clear: both;
  }

main h1 {
  width: 65%;
  text-align: center;
  padding: 1rem;
}

.homeNav {
  padding: 1rem;
  width: 65%;
  background-color: transparent;
}

.homeNav li a {
  color: #86bfbd;
}

.homeNav li a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #86bfbd;
}

main h2 {
  width: 65%;
  text-align: center;
  padding: 1rem;
}

#floatingSucks {
  width: 65%;
  text-align: center;
  padding-bottom: 1rem;
  color: #86bfbd;
}

main p {
  width: 65%;
  text-align: center;
  padding: 1rem;
  color: #86bfbd;
}

main p a {
  color: #dea743;
  text-decoration: none;
}

main p a:hover {
  text-decoration: underline;
}

main div {
  width: 65%;
  text-align: center;
  place-items: center;
}

main div dl {
  padding: 0 4rem 2rem 4rem;
}

main div dl dt {
  padding-top: 2rem;
}

main div dl dd {
  color: #86bfbd;
}

.mainList {
  width: 65%;
  text-align: center;
}

.mainList img {
  width: 50%;
  height: auto;
  min-width: 150px;
  max-width: 300px;
}

.mainList figcaption {
  padding: .5rem 2rem 2rem 2rem;
}


/* start footer */

footer {
  background-color: #445864;
  width: 100%;
  text-align: center;
  color: #dea743;
  padding: 1rem;
}

footer a {
  color: #dea743;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
